# Pandas - Filtrowanie i sortowanie

### import potrzebnych bibliotek

In [23]:
import pandas as pd
import numpy as np

### dataset - chipotle

In [24]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [25]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [26]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Wstępna obróbka - kolumna item_price nie została wczytana jako float, dlatego usuwamy znak waluty i zamieniamy typ danych

In [27]:
chipo.item_price = chipo.item_price.str.replace('$','', regex=True)

In [28]:
chipo.item_price = chipo.item_price.astype(float)

In [29]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Zad.1. Podaj ilość indywidualnych item name

In [30]:
chipo.item_name.drop_duplicates().count()

50

### Zad.2. Podaj ilość produktów w ogóle ( z uzyciem quantity)

In [31]:
chipo.quantity.sum()

4972

### Zad.3. Podaj ilość produktów droższych jak $10.00 ( z uzyciem quantity)

In [32]:
chipo[chipo.item_price>10].quantity.sum()

1314

### Zad. 4. ile rodzajów produktów (nazwy indywidualne) jest droższych od $10.00 i posortuj je po nazwach.

In [33]:
chipo[chipo.item_price>10].item_name.drop_duplicates().sort_values(ascending=True)

3389               6 Pack Soft Drink
39                     Barbacoa Bowl
130                 Barbacoa Burrito
168            Barbacoa Crispy Tacos
1229             Barbacoa Salad Bowl
988              Barbacoa Soft Tacos
3599                   Bottled Water
445                             Bowl
97                     Carnitas Bowl
93                  Carnitas Burrito
1008           Carnitas Crispy Tacos
1132             Carnitas Salad Bowl
1963             Carnitas Soft Tacos
4                       Chicken Bowl
23                   Chicken Burrito
217             Chicken Crispy Tacos
250                    Chicken Salad
135               Chicken Salad Bowl
79                Chicken Soft Tacos
1257    Chips and Fresh Tomato Salsa
2645             Chips and Guacamole
3887                   Side of Chips
90                        Steak Bowl
7                      Steak Burrito
2231              Steak Crispy Tacos
281                 Steak Salad Bowl
1353                Steak Soft Tacos
62                       Veggie Bowl
57                    Veggie Burrito
186                Veggie Salad Bowl
738                Veggie Soft Tacos
Name: item_name, dtype: object

### Zad. 5. Jaka jest liczebność nadroższej zamówionej rzeczy?

In [34]:
value = chipo['item_price'].max() 
chipo[chipo.item_price == value].quantity.sum()

15

### Zad. 6. Jaka jest liczebność najtańszej zamówionej rzeczy?

In [35]:
value = chipo['item_price'].min()
chipo[chipo.item_price == value1].quantity.sum()

106

## Zad. 7. Ile razy klienci zamówili Veggie Salad Bowl, a ile Chicken Bowl?

In [36]:
chipo[chipo.item_name == 'Chicken Bowl'].quantity.sum()

761

In [37]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

### Zad. 8**. Ile produktów zostało zamówionych więcej niż raz? Podaj numery zamówień dla tych produktów.

In [38]:
chipo[chipo.quantity > 1].order_id.count()

267